<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="nav.html"></div>
<div class = "container mt-3">


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mx-auto">

                <form action="/add-request" method="post">

                    <div class="mb-3">
                        <label class="form-label">ФИО :</label>
                        <input type="text" class="form-control" name="userName" placeholder="ФИО :">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Курс :</label>
                        <select class="form-select" name="courseName">
                            <option selected disabled>Выберите курс</option>
                            <option>Java Standard Edition</option>
                            <option>Java Pro</option>
                            <option>Web Technologies</option>
                            <option>Python Programming Language</option>
                            <option>UX/UI Design</option>
                            <option>Django Framework</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Телефон :</label>
                        <input type="text" class="form-control" name="phone" placeholder="+7(7__)_______">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Комментарии :</label>
                        <textarea class="form-control" name="commentary" rows="5" placeholder="Комментарии"></textarea>
                    </div>

                    <button class="btn btn-success" type="submit">Добавить заявку</button>

                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>