<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div class = "container mt-3">
<div th:insert="nav.html"></div>


    <div class="row g-3 mt-3">
        <div class="col-md-6" th:each="request : ${requests}">
            <div class="card h-100 border-light-subtle">
                <div class="card-body">

                    <h4 class="card-title fw-bold mb-4">
                        <span th:text="${' Заявка от ' + request.userName}"></span>
                    </h4>

                    <p class="card-text text-secondary fw-bold mb-2"
                       th:text="${'Курс: ' + request.courseName}">
                    </p>

                    <p class="card-text mb-4"
                       th:text="${request.commentary}">
                    </p>

                    <p class="card-text fw-bold d-inline"
                       th:text="${'Тел: ' + request.phone}">
                    </p>

                    <a href="#" class="ms-3 text-primary text-decoration-none">Подробнее</a>

                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>